<h1 class="mb-3 mt-3">Edite seu cadastro</h1>

<form action="/listas/updatelista" method="post">
  <input type="hidden" name="id" value={{lista.id}} />
  <div class="form-group mb-3 mt-3">
    <label for="nome" class="pb-2">Nome</label>
    <input type="text" id="nome" name="nome" value="{{lista.nome}}" class="form-control" />
  </div>

  <div class="form-group mb-3 mt-3">
    <label for="info" class="pb-2">Informações sobre o time</label>
    <input
      type="text"
      id="info"
      name="info"
      value="{{lista.info}}"
      maxlength="190"
      class="form-control"
    />
  </div>

  <div class="form-group mb-3 mt-3">
    <label for="titulo" class="pb-2">Quantidade de titulo</label>
    <input type="number" id="titulo" name="titulo" value="{{lista.titulo}}" class="form-control" />
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-info">Alterar</button>
  </div>

</form>