<h1 class="text-danger mt-4 mb-4 fs-4 text">Lista de times disponíveis</h1>

<div class="books-container">
  <a href="/" class="mt-4 mb-4 d-block link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover mt-4 d-block">Adicionar Livros</a>

  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th class="text-center">Apagar</th>
    </tr>
    {{#each fut}}
      <tr >
        <td>#{{this.id}}</td>
        <td>{{this.nome}}</td>
        <th class="text-center">
          <a href="listas/{{this.id}}" class="text-info link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover d-block">Ver detalhes</a>

        </th>
      </tr>
    {{/each}}
  </table>
</div>