<h1>Lista de times disponíveis</h1>

<div class="books-container">
  <a href="/">Adicionar Livros</a>

  <table class="table table-striped">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th class="text-center">Apagar</th>
    </tr>
    {{#each fut}}
      <tr >
        <td>#{{this.id}}</td>
        <td>{{this.nome}}</td>
        <th class="text-center">
          <a href="listas/{{this.id}}">Ver detalhes</a>

        </th>
      </tr>
    {{/each}}
  </table>
</div>